{% extends "base.html.twig" %}
{% block title %}App:blog:entries{% endblock %}
{% block body %}
<div class="container">
    {% include 'header.html.twig' %}
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% for blogPost in blogPosts %}
                {% set paragraphs = blogPost.description|split('</p>') %}
                {% set firstParagraph = paragraphs|first ~ '</p>' %}
                <div class="blog-post">
                    <h2 class="blog-post-title">
                       <a href="{{ path('entry', {'slug': blogPost.slug}) }}">
                        {{ blogPost.title }}
                        </a>
                    </h2>
                    <p class="blog-post-meta">
                        {{ blogPost.getUpdatedAt|date('F j, Y') }} by
                        {% if blogPost.author %}
                            <a href="{{ path('author', {'name': blogPost.author.username|url_encode }) }}">
                                {{ blogPost.author.name }}
                            </a>
                        {% else %}
                            Autor desconhecido                       
                        {% endif %}
                    </p>
                    {{ firstParagraph|raw }}<br />
                    <a href="{{ path('entry', {'slug': blogPost.slug}) }}">Leia mais...</a>
                </div>
            {% endfor %}
            {% if blogPosts is empty %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Você não tem artigos nesse blog. Faça login e crie artigos ou postagens.
                </div>  
            {% endif %}

            {% set canPrevious = page > 1 %}
            {% set canNext = (page * entryLimit) < totalBlogPosts %}
            <nav>
                <ul class="pager">
                    <li class="previous {% if canPrevious==false %}disabled{% endif %}">
                        <a href="{% if canPrevious %}{{ path('entries', {'page': page - 1}) }}{% endif %}">
                            <span aria-hidden="true">&larr;</span> Anterior
                        </a>
                    </li>
                    <li class="next {% if canNext==false %}disabled{% endif %}">
                        <a href="{% if canNext %}{{ path('entries', {'page': page + 1}) }}{% endif %}">
                            Próximo <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}